* {
  font-family: Arial, sans-serif;
  text-align: center;
}

#quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#answers button {
  display: flex;
  flex-direction: column;
  /*background-color: #bea8be;*/
  width: 50px;
  text-align: center;
  justify-content: center;
}

#question {
  margin-bottom: 20px;
}

button {
  display: flex;
  align-items: center;
  padding: 10px 100px;
  margin: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.selected {
  background-color: rgb(107, 23, 86); 
}
.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}
